<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <bean id="config" class="org.ton.musicmanager.configuration.TestConfigImpl"/>
    <bean id="loggerHelper" class="org.ton.musicmanager.helper.LoggerHelper"/>
    <bean id="filesHelper" class="org.ton.musicmanager.helper.MP3FilesHelper"/>
    <bean id="synchronizer" class="org.ton.musicmanager.CollectonSynchronizer">
        <property name="filesHelper" ref="filesHelper"/>
        <property name="loggerHelper" ref="loggerHelper"/>
    </bean>
</beans>